<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>points Board</title>
</head>
<body>
        <h2>Points Board</h2>
    
        <table>
            <tr>
                <th>
                    Club Name
                </th>
                <th>
                    Points
                </th>
            </tr>
            {% for club in clubs %}        
            <tr>
                <td>
                    {{ club['name'] }}
                </td>
                <td>
                    {{ club['points'] }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <p>
            <a href="{{ url_for('index') }}">Home</a>
        </p>
    
</body>
</html>
